& {
  .slider {
    h1 {
       padding-left: 10px;
      padding-right: 10px;
    }
  }
/*  .slider-items {
    max-width: 620px;
  }*/
  .slider-item {
    figure {
      margin: 0;
    }
    .name-game {
    font-size: 15px;
    line-height: 1.1
    }
  }
  .slick-dots {
    margin-top: 40px;
  }
  .container {
    max-width: 640px;
  }
   .slider-item {
    padding: 0 4px;
  }
  /* the parent */
  .slick-slide>div {
    margin: 0 ;
  }
}



