@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
      .slider {
    h1 {
       padding-left: 0;
      padding-right: 0;
    }
  }
    
    .slider-items {
       padding-left: 0;
      padding-right: 0;
    }
    .slider-item {
      img {
        max-width: 300px;
        max-height: 300px;
      }

      figure {
        margin: 0 0 40px;
      }

      .name-game {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }
   .slider-item {
    padding: 0 20px;
  }
  /* the parent */
  .slick-slide>div {
    margin: 0 -20px;
  }
    .slick-dots {
    margin-top: 0px;
  }
}